.contactP {
   max-width: 290px;
   margin-left: 640px;
  margin-top: 0;
}

.contactP > h3{
   font-size: 14px;
   text-align: justify;
}

.contactP > p{
   font-size: 13px;
   text-align: justify;

}
.contactTitulo{
   text-align: center;
   font-size: 28px;
}
.container {
   border-radius: 5px;
   background-color: #f2f2f2;
   padding: 10px;
   width: 100%;
}

@media(max-width: 540px) {
   .Formulario img{
       padding-top: 180px;
       
   }
   .Formulario {
      display: block;
      padding-bottom: 300px;
   }
   aside{
      padding: 10px;
      justify-content: flex-start;
   
   }
   .pContact {
      display:block;
      width:510px;
      padding-top: 10px;
      height: 10px;
     
   }
   
   aside h4{
      margin-right: 250px;
      padding-left: 10px;
      font-size: 18px;
   
   }
   
   aside p{
      padding: 10px;
      margin-right: 230px;
      text-align: left;
   
      
   }
 
   

}



.informationContact {
   margin-right: 1250px;
   
}
aside{
   padding: 10px;
   justify-content: flex-start;

}


aside h4{
   margin-right: 250px;
   padding-left: 10px;
   font-size: 18px;

}

aside p{
   padding: 10px;
   margin-right: 230px;
   text-align: left;

   
}
.row2{
width: 100%;
}
.mapaDiv{
   margin-top:100px;
   margin-left: 500px;
   padding-right: 0 !important;
   margin-right: 0 !important;
   width:100px;
   margin-top: 120px;
}

.mapPrincipal{
   max-height: 400px;
}